      <section class="py-5" style="background-color: #146C94;">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded" src="../../static/img/orang-mengetik.png" alt="orang-mengetik"></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5 ">
                      <div class="p-5 text-white text_section_dua">
                        <h2 class="display-5">Find a solution for you</h2>
                        <p>Fourhealth is here to complete the solution for those of you who want to find a disease based on the symptoms you are currently experiencing</p>
                    </div>
                </div>
            </div>
        </div>
      </section>