# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.swp
*~

# Database files
*.db

node_modules/