<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../../static/img/faviconfourhealth.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <title>Fourhealth</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark py-3"  style="background-color: #0B8FAC;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../static/img/faviconfourhealth.png" alt="" width="30" class="d-inline-block align-text-top me-2">
                Fourhealth
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item mx-3">
                <a class="nav-link" aria-current="page" href="/">Beranda</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link " href="cek_penyakit.html">Cek Penyakit</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" href="about.html">About-Us</a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>
    
     <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../static/img/faviconfourhealth.png" alt="" width="100" >
    <h1 class="display-5 fw-bold text-body-emphasis">Fourhealth</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-center">Fourhealth merupakan sebuah project tugas ahkir pada SIB x Dicoding batch 4 dengan tujuan untuk mensejaterahkan masyarakat dalam hal kesehatan. Project ini dikerjakan oleh Team C23-M4035 yang terdiri dari 4 orang mahasiswa</p>
    </div>
  </div>


      
    <!-- Team Start -->
    <div class="container-xxl py-1 mt-5">
      <div class="container">
          <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
              <p class="d-inline-block border rounded fw-semi-bold py-1 px-3" style="color: #0B8FAC;">Our Team</p>
              <h1 class="display-4 mb-0">Team C23-M4035</h1>
          </div>
          <div class="row g-4">
              <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="team-item">
                      <img class="img-fluid rounded mb-3" src="../../static/img/team-1.jpg" alt="">
                      <div class="team-text">
                          <h4 class="mb-0">Bayyu Putra Wirawan</h4>
                          <p>Universitas Gunadarma</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="team-item">
                      <img class="img-fluid rounded mb-3" src="../../static/img/George-Team.jpeg" alt="">
                      <div class="team-text">
                        <h4 class="mb-0">George Isaiah Abiyoso</h4>
                        <p>Institut Teknologi Telkom Purwokerto</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="team-item">
                      <img class="img-fluid rounded mb-3" src="../../static/img/Gesen-Team.jpg" alt="">
                      <div class="team-text">
                          <h4 class="mb-0">Gesen Abiyoga Soerfaz</h4>
                          <p>Universitas Gunadarma</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="team-item">
                      <img class="img-fluid rounded mb-3" src="../../static/img/team-1.jpg" alt="">
                      <div class="team-text">
                          <h4 class="mb-0">Salman Al Farizi</h4>
                          <p>Sekolah Tinggi Manajemen Informatika dan Komputer Jakarta STI&K</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Team End -->

  <!-- Footer -->
  <footer>
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <img src="../../static/img/faviconfourhealth.png" width="30" alt="">
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 Company, Inc</span>
  </footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>