<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="{{url_for('static', filename='img/faviconfourhealth.png')}}" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="{{url_for('static', filename='index.js')}}"></script>


  <title>Fourhealth</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark py-3" style="background-color: #146C94;">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{{url_for('static', filename='img/faviconfourhealth.png')}}" alt="" width="30"
          class="d-inline-block align-text-top me-2">
        Fourhealth
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-3">
            <a class="nav-link" aria-current="page" href="/">Beranda</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link active" href="{{url_for('cek_penyakit')}}">Cek Penyakit</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link " href="{{url_for('about')}}">About-Us</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <main>

    <div class="container" id="content">

      <div class="py-3 text-center mt-5">
        <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='img/faviconfourhealth.png')}}" alt=""
          width="100" height="100">
        <h2>Cek Kesehatan</h2>
      </div>

      <article id="cara-isi" class="card">
        <h3 class="text-center">Cara Pengisian Gejala</h3>
        <ul class="list-group">
          <li class="list-group-item">1. Buka halaman input gejala penyakit.</li>
          <li class="list-group-item">2. Pada form, Anda akan melihat input box dengan label "Masukkan Gejala".</li>
          <li class="list-group-item">3. Klik pada input box untuk membuka pilihan gejala penyakit.</li>
          <li class="list-group-item">4. Anda dapat memilih satu atau lebih gejala penyakit dengan cara:
            <ul>
              <li>Klik pada gejala yang ingin Anda pilih.</li>
              <li>Jika ingin memilih lebih dari satu gejala, lakukan hal yang sama seperti cara pertama otomatis akan
                menambahkan gejala.</li>
              <li>Gejala yang sudah dipilih akan ditampilkan pada input box.</li>
            </ul>
          </li>
          <li class="list-group-item">5. Jika ingin mengubah atau menghapus pilihan gejala, Anda dapat membuka input box
            lagi dan mengklik atau mengklik ulang gejala yang ingin diubah atau dihapus.</li>
          <li class="list-group-item">6. Setelah selesai mengisi form atau halaman lainnya, klik tombol "Cek" atau
            untuk mengirimkan data yang Anda isi.</li>
        </ul>
        <h6 class="text-justify mt-2 text-danger">*Pastikan untuk mengikuti petunjuk dan instruksi yang diberikan pada
          halaman input gejala penyakit yang sebenarnya.</h4>
      </article>

      <article id="sejarah" class="card">
        <h3 class="text-center">Masukkan Gejala dan Temukan Penyakitnya</h3>
        <div>
          <form class="form col-lg-12" action="#" id="form">
            <div class="form-group form-title">
              <label for="gejala1" class="form-label">Gejala Anda</label>
              <select class="form-select " multiple="multiple" id="gejala1" required>
                <option value="">Choose...</option>
                <option>Batuk</option>
              </select>
              <div class="invalid-feedback">
                Inputkan Gejala Yang Valid.
              </div>
            </div>

          </form>
        </div>

        <!-- <input id="gejalaSubmit" type="submit" value="Cek Penyakit" name="Submit" class="btn-submit w-100"> -->
        <a href="{{url_for('detail')}}" class="ms-3 me-3" ><button class="btn-submit w-100">Cek</button></a>

      </article>


    </div>
    <main>


      <!-- ======= Footer ======= -->
      <footer id="footer" class="footer mt-5">

        <div class="container">
          <div class="row gy-3">
            <div class="col-lg-6 col-md-6 d-flex">
              <i class="bi bi-geo-alt icon"></i>
              <div>
                <h4>Address</h4>
                <p>
                  No. 10 Ruko IKN <br>
                  Nusantara - Indonesia<br>
                </p>
              </div>

            </div>

            <div class="col-lg-6 col-md-6 footer-links d-flex">
              <i class="bi bi-telephone icon"></i>
              <div>
                <h4>Reservations</h4>
                <p>
                  <strong>Phone:</strong> +62 8589 5548 8955<br>
                  <strong>Email:</strong> Fourhealth@gmail.com<br>
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>Fourhealth</span></strong>. All Rights Reserved
          </div>
        </div>

      </footer><!-- End Footer -->
      <!-- End Footer -->


      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>