<section class="hero is-primary is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        {% include "nav.html" %}
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body" style="background-image: url(https://fakeimg.pl/300x200/);background-size: cover;" >
      <div class="container has-text-centered">
        <p class="title">
          Title
        </p>
        <p class="subtitle">
          Subtitle
        </p>
      </div>
    </div>
</section>