<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fourhealth</title>
</head>
<body>
<header class="app-bar">
  <div class="app-bar__menu">
    <button id="hamburgerButton">☰</button>
  </div>
  <div class="app-bar__brand">
    <h1>Fourhealth</h1>
  </div>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <ul>
      <li><a href="">Beranda</a></li>
      <li><a href="">Cek Penyakit</a></li>
    </ul>
  </nav>
</header>
  
<main id="mainContent">
  <section>
    <div class="home-pict">
      <img width="400px" src="./4990224.jpg" alt="" />
    </div>
    <div class="text">
      <h3>Cari resiko penyakit anda dengan Fourhealth</h3>
    </div>
  </section>
</main>

<footer>
  <p>
    Copyright &copy; 2023 - <a href="index.html" target="_blank" rel="noreferrer">Fourhealth</a>
  </p>
</footer>
</body>
</html>
