{% extends "base.html" %}
{% block title %} Input Symptomps {% endblock title %}
{% block content %} 
    <h1>Input page</h1>
    <h2>Input Symptom</h2>
    <form action="" method="post">
        <div>
            <h3 class="is-size-3">symptomps on skin</h3>
            <div class="field">
                <label class="checkbox" for="itching">
                    Itching
                    <input type="checkbox" name="itching" id="">
                </label>
            </div>
            <div class="field">
                <label class="sneeze" for="itching">
                    Sneeze
                    <input type="checkbox" name="sneeze" id="">
                </label>
            </div>
            <div class="field">
                <label for="cough">
                    Cough
                    <input type="checkbox" name="cough" id="">
                </label>
            </div>
            
            <h3 class="is-size-3">other symptomps</h3>
            <div class="field">
                <label for="high_fever">
                    High fever
                    <input type="checkbox" name="high_fever" id="">
                </label>
            </div>
            <div class="field">
                <label for="vomitting">
                    Vomitting
                    <input type="checkbox" name="vomitting" id="">
                </label>
            </div>
        </div>
    </form>
{% endblock content %}
