<nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
        </a>
        <span class="navbar-burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a href="{{url_for('index')}}" class="navbar-item {{'is-active' if index else ''}}">
            Home
          </a>
          <a href="{{url_for('_input')}}" class="navbar-item {{'is-active' if _input else ''}}">
            Input
          </a>
          <a class="navbar-item">
            Documentation
          </a>
        </div>
      </div>
    </div>
  </nav>