<nav class="navbar navbar-expand-lg navbar-dark py-3"  style="background-color: #0B8FAC;">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="{{url_for('static',filename='img/faviconfourhealth.png')}}" alt="" width="30" class="d-inline-block align-text-top me-2">
          Fourhealth
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-3">
          <a class="nav-link {{'active' if index else ''}}" aria-current="page" href="/">Beranda</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link {{'active' if _input else ''}}" href="#">Cek Penyakit</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link {{'active' if _input else ''}}" href="#">About-Us</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>