{% extends "base.html" %}
{% block title %} About {% endblock title %}
{% block content %}

          <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="./static/img/faviconfourhealth.png"
        alt=""
        width="100"
      />
      <h1 class="display-5 fw-bold text-body-emphasis">Fourhealth</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-center">
          Fourhealth is a final project project on SIB x Dicoding Batch 4 with the aim of improving the welfare of society in terms of health. This project was carried out by Team C23-M4035 which consisted of 4 students.
        </p>
      </div>
    </div>
    {% include "components/teams.html" %}
{% endblock content %}
